<div class="clear"></div>


<div class="clear"></div>
<div id="platforms">
          <%= image_tag "footer/platforms.jpg" %>
          <%= link_to image_tag("footer/force.jpg"), "http://force.com" %>
          <%= link_to image_tag("footer/amazon.jpg"), "http://aws.amazon.com" %>
          <%= link_to image_tag("footer/heroku.jpg"), "http://www.heroku.com" %>
          <%= link_to image_tag("footer/engine_yard.jpg"), "http://www.engineyard.com" %>
</div>
<div id="footer">
            <div class="footer_column liner">
                <span class="title_footer">Services</span><br>
                <a href="#">Cloud Strategy</a><br>
                <a href="#">Application Development</a><br>
                <a href="#">Salesforce</a><br>
                <a href="#">Heroku</a><br>
            </div>
            <div class="footer_column liner">
                <span class="title_footer">Solutions</span><br>
                <a href="#">FogBridge</a><br>
                <a href="#">J!Web-To-Lead</a><br>
            </div>
            <div class="footer_column liner">
                <span class="#">Customers</span><br>
                <a href="#">Case Studies</a><br>
            </div>
            <div class="footer_column">
                <span class="title_footer">Company</span><br>
                <a href="#">Contact Us</a><br>
                <a href="#">About Us</a><br>
                <a href="#">History</a><br>
                <a href="#">Company Culture</a><br>
            </div>
             <div class="footer_column liner">
                <span class="title_footer">Salesforce.com</span><br>
                <a href="#">Salesforce Implementations</a><br>
                <a href="#">Salesforce Application Dev</a><br>
                <a href="#">Cloud Consulting</a><br>
            </div>
            <div class="clear"></div>
            <div id="addy" class="footer_leyend">
                <span class="title_footer">Software Allies</span><br>
                100 East Ferguson Street, Suite 910 Tyler, TX. 75702<br>
                Tel: +1 888 890 3670
                <a href="mailto://sales@softwareallies.com">sales@softwareallies.com</a>
            </div>
            <div id="copy" class="footer_leyend">&copy; 2012 All Rights Reserved. <a href="http://softwareallies.com">www.softwareallies.com</a></div>
</div>

